/* Import the Google Font "Inter" */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* src/components/Header.css */
.custom-navbar {
  /* background-color: #000; */
  padding: 10px;
  display: flex;
  justify-content: space-between; /* Align items at the ends */
  align-items: center; /* Center items vertically */
  border-radius: 50px; /* Rounded edges */
  font-family: 'Inter', sans-serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px; /* Reduce space between links */
  margin: 0;
  padding: 0;
}

.nav-item {
  font-size: 16px; /* Reduce font size */
  font-weight: bold;
  color: white; /* Text color */
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px; /* Reduce padding around each item */
}

.nav-item:hover {
  color: #ff7043; /* Change color on hover */
}

/* Hamburger icon */
.hamburger-menu {
  display: none; /* Hide by default */
  cursor: pointer;
}

/* Show menu for mobile devices */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none; /* Hide menu items by default */
    flex-direction: column; /* Arrange items vertically */
    position: absolute; /* Position menu items absolutely */
    top: 100%; /* Position below the navbar */
    left: 0;
    background-color: #000; /* Background color for mobile menu */
    width: 100%;
    padding: 10px; /* Add padding */
    border-radius: 5px; /* Add some border radius */
  }

  .nav-links.show {
    display: flex; /* Show menu items when .show class is added */
  }

  .hamburger-menu {
    display: block; /* Show hamburger icon */
  }
}
