/* src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1F271B;
}

section {
  padding: 2rem;
  text-align: center;
}

#hero {
  background: #f4f4f4;
}

#features div {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

#features div div {
  width: 30%;
}

footer {
  background: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
